@{
    ViewData["Title"] = "Agents Page";
}

<div class="text-center">
    <h1 class="display-4">Agents in Amsterdam</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Agents" asp-action="GetTopTenAgents">
                Get the top 10 agents with the most properies
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Agents" asp-action="GetTopTenAgentsWithGarden">
                Get the top 10 agents with the most properies with a garden
            </a> 
        </li>
    </ul>
</div>

